{% extends "base.html" %}

{% block content %}

<div class="site-section">
    <div class="container">
        <div class="row mb-5">

            <div class="col-md-6">

                <a><img src="{{ producto.imagen.url }}" class="img-fluid"></a>
            </div>

                <div class="col-md-6 mb-4" data-aos='fade-up'>


                    <h5 class="card-title" style="color: #6a0137;">{{ producto.titulo }}</h5>
                    <p class="card-text">{{ producto.descripcion }} </p>
                    <p  style="color: #6a0137;">Unidades disponibles: {{ producto.stock }}</p>
                    <h5 class="mb-8" style="text-align: right;">Q {{ producto.precio }}</h5>
                    <a href="#" class="btn btn-secondary">Agregar al carrito</a> 
                    <h5 class="mb-8" style="text-align: right;"><a style="color: #6a0137;" href="{% url 'productos'%}">Volver</a></h5>
                    
                   

                </div>
            

            
        </div>
    </div>
</div>



{% endblock content %}